.pageNavbar {
  display: block;
}

.sortByContainer {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.8);
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #8094a6;
  font-family: bodyFont;
  height: 41px;
}

.pageNavbar label {
  color: #f5f5f5;
  font-size: 150%;
  margin-left: 15px;
}

#sortBy {
  width: 175px;
  margin-top: 2.5px;
  background-color: #f5f5f5;
  font-family: bodyFont;
  font-size: 20px;
  border-radius: 10px;
}

#sortBy option {
  background-color: #8094a6;
  font-size: 16px;
  font-family: bodyFont;
  color: #f5f5f5;
}

.pageSearchBar {
  margin-top: -34px;
  float: right;
}

.pageSearchBar input[type="text"] {
  width: 300px;
  height: 25px;
  border-radius: 8px;
  border: none;
  font-family: bodyFont;
  background-color: #f5f5f5;
  padding-left: 8px;
  font-size: 20px;
}

.pageSearchBar input[type="submit"] {
  border-radius: 25px;
  background-color: #57bcff;
  color: #f2f2f2;
  float: right;
  padding: 4.5px 10px;
  margin-right: 50px;
  margin-left: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: bodyFont;
  margin-top: -32px;
}
