#primaryLayersLabel {
    padding-top: 100px;
    margin-bottom: -10px;
    padding-left: 1.5%;
    font-size: 25px;
    color: #F5F5F5;
    font-family: bodyFont;
}
  
#primaryDrop {
    margin-left: 1.5%;
    height: 30px;
    width: 54%;
    background-color: #253f52;
    border-radius: 4px;
    font-size: 16px;
    color: #F5F5F5;
    font-family: bodyFont;
}

#primaryDrop:hover {
    border: 2px solid #F5F5F5;
}
  
#secondaryLayersLabel {
    padding-left: 1.5%;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: -10px;
    color: #F5F5F5;
    font-family: bodyFont;
}
  
#secondaryDrop {
    margin-left: 1.5%;
    height: 30px;
    width: 54%;
    background-color: #253f52;
    border-radius: 4px;
    font-size: 16px;
    color: #F5F5F5;
    font-family: bodyFont;
}

#secondaryDrop:hover {
    border: 2px solid #F5F5F5;
}

option {
    height: 40px;
    width: 60%;
    background-color: #253f52;
    font-size: 16px;
    color: #F5F5F5;
    font-family: bodyFont;
}
  
optgroup {
    font-size: 20px;
    color: #000000;
    font-family: bodyFont;
}

#enter1:hover {
    border: 2px solid #F5F5F5;
}
  
#enter2:hover {
    border: 2px solid #F5F5F5;
}

#userPrompt {
    display: none;
    padding-left: 1.5%;
    font-size: 25px;
    margin-top: -15px;
    margin-bottom: -5px;
    color: #F5F5F5;
    font-family: bodyFont;
}

#addLayerButton {
    display: none; 
    height: 34px;
    width: 23.75%;
    background-color: #253f52;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1.5%;
}
  
#clearLayerButton {
    display: none;
    height: 34px;
    width: 23.75%;
    background-color: #253f52;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
  
#fileNameInput {
    height: 25px;
    width: 35%;
    background-color: #253f52;
    margin-top: 10px;
    margin-left: -0.25%;
    color: #F5F5F5;
    font-family: bodyFont;
    font-size: 20px;
}

#fileNameInput:hover {
    border: 2px solid #F5F5F5
}

#downloadButton {
    position: absolute;
    right: 1.5%;
    height: 32px;
    width: 24.35%;
    background-color: #F27405;
    margin-top: -5px;
    color: #F5F5F5;
    font-family: bodyFont;
    font-size: 30px;
    line-height: 30px;
}

div.downloadButton input {
    border: 2px solid transparent;
}

div.downloadButton input:hover {
    border: 2px solid #F5F5F5;
}
