@font-face {
  font-family: nexusTitleFont;
  src: url(/static/sources/ZenDots-Regular.ttf);
}

@font-face {
  font-family: bodyFont;
  src: url(/static/sources/Baloo2-Regular.ttf);
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: #011526;
  overflow-x: hidden;
}

label {
  font-size: 25px;
  margin: 0 auto;
  color: #F5F5F5;
  font-family: bodyFont;
  line-height: 25px;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  margin: 10px;
  border-radius: 10px;
}

button {
  height: 32px;
  width: 10%;
  background-color: #8094A6;
  border-radius: 10px;
  font-family: bodyFont;
  font-size: 25px;
  color: #F5F5F5;
  line-height: 25px;
}

input {
  border-radius: 10px;
  font-family: bodyFont;
  color: #F5F5F5;
}

#storage {
  height: 200px;
  width: 96%;
  background-color: #8094A6;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -3px;
  resize: none;
  border-radius: 10px;
  font-family: bodyFont;
  font-size: 18px;
  color: #F5F5F5;
  line-height: 18px;
  border: 4px solid #F5F5F5;
}

#form {
  margin-left: 1.75%;
  margin-right: 1.5%;
  width: 101%;
  border-radius: 10px;
}

#modelVisualizer {
  height: 500px;
  width: 97%;
  margin-bottom: 1.5%;
  margin-left: 1.5%;
  background-color: #8094A6;
  border: 4px solid white;
  border-radius: 10px;
}
