@font-face {
    font-family: nexusTitleFont;
    src: url(/static/sources/ZenDots-Regular.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(/static/sources/Baloo2-Regular.ttf);
}

body {
    margin: 0 auto;
    height: 100vh;
    background-color: #0c151b;
    overflow: hidden;
}

h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
    margin: 0 auto;
    color: #F5F5F5;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 10px;
}

option {
    font-size: 18px;
    
}

audio {
    display:none;
}

#noteVisualizer {
    border-radius: 10px;
    height: 500px;
    width: 96.5%;
    margin-bottom: 20px;
    margin-left: 1.5%;
    background-color: #253f52;
    border: 4px solid #F5F5F5;
}
